@import "tailwindcss";
@layer components {
    .loader {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 4px solid #fff;
        border-right-color: transparent;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}